apiVersion: v1
kind: ConfigMap
metadata:
  name: api-env
data:
  MONGODB_URL: mongodb://mongo-0.mongo:27017/
  DATABASE_NAME: employee_db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: employee-api
  template:
    metadata:
      labels:
        app: employee-api
    spec:
      containers:
        - name: api
          image: eliezer206568107/employee-api:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http
          envFrom:
            - configMapRef:
                name: api-env
---
apiVersion: v1
kind: Service
metadata:
  name: service-api
spec:
  selector:
    app: employee-api
  ports:
    - name: http
      port: 80
      targetPort: 8000
  type: ClusterIP


  